<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Dashboard</h3>
    </div>
    <div class="panel-body">
        <p>{{name}}</p>
        <div *ngIf="summaryType == 1">
                <div class="well"><h3>{{summary}}</h3></div>
        </div>
        <div *ngIf="summaryType == 2">
                <div class="well"><h3>{{summary}}</h3></div>
                <button class="btn btn-default" type="button">Submit</button>
        </div>
    </div>
</div>