<loading-container [loading]="loading">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Dashboard</h3>
        </div>
        <div class="panel-body">
            <div *ngIf="summaryType == 0">
                <div class="well"><h3>{{summary}}</h3></div>
            </div>
            <div *ngIf="summaryType == 1">
                {{name}}
                    <div class="well"><h3>{{summary}}</h3></div>

                    <div *ngIf="isDataAvailable">

                        <!-- area chart: last 7 days data + overall daily average -->
                        <div id="area_chart" [chartData]="area_ChartData" [chartOptions] = "area_ChartOptions" chartType="AreaChart" GoogleChart></div>

                        <!-- progress bar: this week so far / last week total (show week number of year) -->
                        <div id="bar_chart" [chartData]="bar_ChartData" [chartOptions] = "bar_ChartOptions" chartType="BarChart" GoogleChart></div>
                    </div>
            </div>
            <div *ngIf="summaryType == 2">
                {{name}}
                    <div class="well"><h3>{{summary}}</h3></div>
                    <button (click)="pinEntered()" class="btn btn-default" type="button">Submit</button>
            </div>
        </div>
    </div>
</loading-container>